$font-stack: 'Open Sans',
Helvetica,
sans-serif;
//Media
$media-phone: 400px;
// Sizes
$spacing-xxxl: 3rem;
$spacing-xxl: 2.5rem;
$spacing-xl: 2rem;
$spacing-l: 1.5rem;
$spacing: 1rem;
$spacing-xs: .75rem;
$spacing-xxs: .5rem;
$spacing-xxxs: .3rem;
$spacing-xxxxs: .1rem;
// Fonts
$font-xxxl:2.5rem;
$font-xxl:2rem;
$font-xl:1.5rem;
$font-l:1.25rem;
$font: 1rem;
$font-s: .9rem;
$font-xs: .8rem;
$font-xxs: .75rem;
$font-xxxs: .7rem;
// Colors
$bg: #fcfdfd;
$bg-100: #edf1fb;
$bg-200: #26254f;
$primary: #7e7fe8;
$text: #0c0a3d;
$text-1: #fff;
$text-2: #9594ae;
$success: #16c08f;
$danger: #ff7d7d;
$info: #758dff;
$gray: #bbbbca;
// Styles
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: $font-stack;
    color: $text;
}

input {
    font-family: $font-stack;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: $gray;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 7.5rem 1fr;
    grid-template-columns: 6.5rem 1fr;
    grid-template-areas: "aside header" "aside main";
    flex-wrap: wrap;
    @media screen and (max-width: $media-phone) {
        grid-template-columns: initial;
        grid-template-rows: initial;
    }
    // >* {
    //     border: 1px solid #000;
    // }
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    padding: $spacing $spacing-xxxl;
    @media screen and (max-width: $media-phone) {
        gap: $spacing-xs;
        padding: $spacing-xs;
    }
    .btn-appointment {
        padding: $spacing $spacing-l;
        border-radius: $spacing-xxs;
        height: fit-content;
        color: $text-1;
        background: rgb(147, 149, 237);
        background: linear-gradient(90deg, rgba(147, 149, 237, 1) 0%, #6c6de3 100%);
        font-weight: 600;
    }
    .profile {
        justify-self: end;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: $spacing;
        .image {
            justify-self: end;
            img {
                $size: 4rem;
                width: $size;
                height: $size;
                border-radius: $size;
                @media screen and (max-width: $media-phone) {
                    $size: 3rem;
                }
            }
            .notification {
                $size: 1.25rem;
                position: absolute;
                width: $size;
                height: $size;
                margin-top: -1.7rem;
                margin-left: 3rem;
                background-color: $danger;
                border-radius: $size;
                box-shadow: 0px 0px 10px 0px rgba(255, 125, 125, 1);
                @media screen and (max-width: $media-phone) {
                    $size: .9rem;
                    margin-top: -1.5rem;
                    margin-left: 2.3rem;
                }
            }
        }
        select {
            height: fit-content;
            border: none;
            background: none;
            font-size: $font;
            font-weight: 600;
            font-family: $font-stack;
        }
    }
}

.aside {
    grid-area: aside;
    display: grid;
    gap: $spacing-l;
    padding: $spacing;
    justify-content: center;
    font-size: $font-xl;
    color: $gray;
    background-color: $bg;
    @media screen and (max-width: $media-phone) {
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #f1f1f1;
        justify-content: initial;
    }
    ul {
        display: grid;
        grid-template-rows: repeat(8, min-content);
        gap: 3rem;
        margin-top: $spacing-xs;
        @media screen and (max-width: $media-phone) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: none;
            margin-top: 0;
            .hide,
            .logo.hide {
                display: none;
            }
        }
        li {
            display: grid;
            place-items: center;
            padding: $spacing-xxs $spacing-xs;
            &.active {
                background-color: $text-1;
                -webkit-box-shadow: 0px 0px 33px -10px rgba(126, 127, 232, .5);
                -moz-box-shadow: 0px 0px 33px -10px rgba(126, 127, 232, .5);
                box-shadow: 0px 0px 33px -10px rgba(126, 127, 232, .5);
                border-radius: $spacing-xs;
                a {
                    color: $primary;
                }
            }
            &.logo {
                img {
                    width: 3rem;
                }
                a {
                    color: $text-1;
                    text-align: center;
                    font-size: $font-l;
                }
            }
        }
    }
}

.main {
    padding: $spacing-xxxl;
    grid-area: main;
    background-color: $bg-100;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: $spacing-xl;
    @media screen and (max-width: 1148px) {
        grid-template-rows: initial;
    }
    @media screen and (max-width: $media-phone) {
        padding: $spacing 0 6rem 0;
        gap: $spacing;
    }
    .top {
        display: grid;
        grid-template-columns: 5fr 8fr;
        gap: $spacing-xl;
        @media screen and (max-width: 1148px) {
            grid-template-columns: initial;
        }
        @media screen and (max-width: $media-phone) {
            gap: $spacing;
        }
    }
    .bottom {
        display: grid;
        gap: $spacing-xl;
        grid-template-columns: 4.2fr 3.8fr 5.2fr;
        @media screen and (max-width: 1148px) {
            grid-template-columns: initial;
        }
        @media screen and (max-width: $media-phone) {
            gap: $spacing;
        }
    }
    .card {
        background-color: $text-1;
        border-radius: $spacing-xxxs;
        padding: $spacing-xl;
        .card-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing-l;
            .right {
                color: $gray;
            }
            h1 {
                display: inline-block;
                margin: 0;
                font-size: $font-l;
            }
            .header-container {
                display: grid;
                grid-template-columns: max-content max-content;
                gap: $spacing;
                align-items: end;
                span {
                    color: $gray;
                    position: absolute;
                    margin-left: 9rem;
                    margin-top: .3rem;
                }
            }
            select {
                height: fit-content;
                border: none;
                background: none;
                font-size: $font;
                font-weight: 600;
                font-family: $font-stack;
            }
        }
        .card-body {
            display: grid;
            gap: $spacing-xl;
        }
        .appointment {
            display: grid;
            grid-template-columns: min-content max-content 1fr min-content min-content;
            grid-template-rows: repeat(3, min-content);
            grid-template-areas: "profile name name check times" "profile title title check times" "profile date time check times";
            column-gap: $spacing-l;
            row-gap: 0;
            .image {
                grid-area: profile;
                width: 4rem;
                height: 4rem;
                border-radius: 4rem;
                box-shadow: 5px 5px 22px 0px rgba(116, 204, 214, .5);
                &.gray {
                    box-shadow: 5px 5px 22px 0px rgba(199, 197, 210, 1);
                }
                &.red {
                    box-shadow: 5px 5px 22px 0px rgba(193, 68, 84, .5);
                }
            }
            .name {
                grid-area: name;
                font-weight: 600;
            }
            .title {
                grid-area: title;
                font-size: $font-xs;
                color: #9695af;
            }
            .date {
                grid-area: date;
                font-size: $font-xs;
                i {
                    color: $info;
                }
            }
            .time {
                grid-area: time;
                font-size: $font-xs;
                i {
                    color: $info;
                }
            }
            .check {
                grid-area: check;
                font-size: $font-xxl;
                align-self: center;
                color: $info;
            }
            .times {
                grid-area: times;
                font-size: $font-xxl;
                align-self: center;
                color: $danger;
            }
        }
        .chart-container {
            height: 17rem;
            @media screen and (max-width: 650px) {
                height: 10rem;
            }
        }
        .news-list {
            .news {
                display: grid;
                grid-template-columns: 1fr min-content;
                grid-template-areas: "title arrow" "subtitle arrow";
                gap: $spacing-xxs;
                .title {
                    grid-area: title;
                    font-weight: 700;
                    color: $text;
                }
                .subtitle {
                    grid-area: subtitle;
                    color: $text-2
                }
                .fa-caret-right {
                    grid-area: arrow;
                    align-self: center;
                }
                hr {
                    width: 100%;
                    border: none;
                    background-color: $gray;
                    height: 1px;
                }
            }
            .more {
                text-align: center;
                a {
                    color: $primary;
                    font-weight: bold;
                }
            }
        }
    }
    .card.alert {
        background: linear-gradient(90deg, rgba(147, 149, 237, 1) 0%, #6c6de3 100%);
        color: $text-1;
    }
    .current-prescription-container {
        display: grid;
        grid-template-rows: 1fr max-content;
        gap: $spacing-xl;
        ul {
            display: grid;
            row-gap: $spacing-xs;
        }
    }
}

.prescription-item {
    display: grid;
    grid-template-areas: "dot title" "dot description";
    grid-template-columns: min-content 1fr;
    column-gap: $spacing-l;
    .dot {
        $size: 1.5rem;
        grid-area: dot;
        width: $size;
        height: $size;
        border-radius: $size;
        align-self: center;
    }
    .dot.gray {
        background-color: #bccbf5;
        box-shadow: 2px 2px 10px 0px #bccbf5;
    }
    .dot.violet {
        background-color: $primary;
        box-shadow: 2px 2px 10px 0px $primary;
    }
    .title {
        grid-area: title;
        color: $text;
        font-weight: 800;
    }
    .description {
        grid-area: description;
    }
}

.notifications ul {
    display: grid;
    gap: $spacing-l;
}

.notifications {
    .more {
        text-align: center;
        a {
            color: $primary;
            font-weight: 600;
        }
    }
    .notification {
        display: grid;
        grid-template-areas: "dot title date";
        grid-template-columns: min-content 1fr max-content;
        align-items: center;
        gap: $spacing;
        .dot {
            grid-area: dot;
            $size: $spacing-xs;
            width: $size;
            height: $size;
            border-radius: $size;
            &.green {
                background-color: $success;
            }
            &.red {
                background-color: $danger;
            }
            &.blue {
                background-color: $primary;
            }
        }
        .title {
            grid-area: title;
            color: $text;
            font-weight: 600;
        }
        .date {
            grid-area: date;
        }
    }
}